.translation-wrapper {
    margin: auto;
    width: 65%;
    height: 10%;
    box-shadow: #282c34;
    border-bottom: none;
    background-color: var(--background-color);
}

.translate-area-wrapper {
    display: flex;
    height: 100%;
    position: relative;
    margin-bottom: 10%;
}

.translate-area {
    text-align: center;
    width: 50%;
    border: 1px solid black;
    border-top: none;
}

.border-right {
    border-right: none;
}

textarea {
    width: 96%;
    height: 96%;
    resize: none;
    border: none;
    outline: none;
}

.favorite-btn {
    position: absolute;
    right: 1%;
    top: 5%;
}