.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3%;
    background-color: var(--background-color);
}

.navbar-header {
    color: var(--header-color);
}

.nav-item {
    margin-right: 10px;
    text-decoration: none;
    color: var(--header-color);
}