.App {
  height: 1600px;
  background-color: var(--background-color);
  color: var(--font-color);
}

button {
  background-color: var(--background-color);
  color: var(--font-color);
  cursor: pointer;
}

